@model myFirstProject.MyModels.LibroViewModel

@{
    ViewData["Title"] = "Detalle del Libro";
}

<h2>Libro Encontrado</h2>

<ul>
    <li><strong>ID:</strong> @Model.Id</li>
    <li><strong>Nombre Original:</strong> @Model.OriginalName</li>
    <li><strong>Nombre Espa単ol:</strong> @Model.SpanishName</li>
    <li><strong>Editor:</strong> @Model.Editor</li>
    <li><strong>A単o:</strong> @Model.Year</li>
    <li><strong>FullName:</strong> @Model.FullName</li>
    <li><strong>Antig端edad:</strong> @Model.Antiquity a単os</li>
</ul>
